<div #albumsContainer class="albumsContainer" *ngIf="albums">	
	<ul class="albumsList" >
		<ng-container *ngIf="!view1">
		<li class="albumContainer" *ngFor="let album of albums" >
			<a routerLink="/user/{{id}}/albums/{{id}}/album/{{album.id}}" [queryParams]="{'title': album.title }" >{{album.title}}</a>	
		</li>
	</ng-container>	
	</ul>
</div>
<button id="prevSlide" (click)="takePrev()">Prev</button>
<button id="nextSlide" (click)="takeNext()">Next</button>
<router-outlet (activate)='onActivate($event)'></router-outlet>
